<!DOCTYPE html>
<html>
  <head>
    <title>
      gurters - {{title}}
    </title>
<script src="/js/jquery-1.6.1.min.js" type="text/javascript"></script>
<script src="/js/jquery.innerfade.js" type="text/javascript"></script>
<link rel="stylesheet" href="/css/reset.css"  type="text/css" media="all" />
  </head>
  <body>
      {{{yield}}}
  </body>
</html>
