<!DOCTYPE html>
<html>
  <head>
    <title>
      gurters - {{title}}
    </title>
<script src="/js/jquery-1.6.1.min.js" type="text/javascript"></script>
<script src="/js/jquery.innerfade.js" type="text/javascript"></script>
<link rel="stylesheet" href="/css/roulette.css"  type="text/css" media="all" />
<!--<link rel="stylesheet" href="/css/reset.css"  type="text/css" media="all" />-->
  </head>
  <body>
    <div id="main">
      <a href="/slideshow">Slideshow</a>    <a href="/roulette">Roulette</a><br/>
      {{{yield}}}
    </div>
  </body>
</html>
