<form name="file" method="post" enctype="multipart/form-data"  action="/upload">
 <table>
 	<tr><td><input type="file" name="file"></td></tr>
        <tr><td><input type="text" name="imagename"></td></tr> 
 	<tr><td><input name="Upload" type="submit" value="Upload image"></td></tr>
 </table>	
 </form>
